.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #efeef1;
    color: inherit;
    border-left: 1px solid #dad8de;
}

.messages-list {
    height: 100%;
    flex: 1;
}

.message-input {
    display: inline-block;
    width: 100%;
}