.chat-user-name {
    font-weight: 700;   
}

.colon {
    margin-right: 2px;
}

.badges .badge {
    height: 18px;
    font-size: 18px;
    min-width: 18px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin: 1px 3px 1px 0;
}

.float-left {
    float: left !important;
}